.round-button {
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: black;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
}


.father{
	display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  background-color: #eee;
}

.uncle{
	display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  
  background-color: #eee;
  border-top: groove 2px #CCCCCC;
}

.nephew{
	display: inline-block;
	border-bottom: groove 2px #CCCCCC;
}

.rihanna{
	  display: block;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}